/* Importing the Inter font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* Background color set to black to give black shade on the image */
body {
  background-color: black;
}

.bg {
  position: absolute;
  z-index: -1;
  opacity: 60%;
}

.bg > img {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

/* flex */
.flex {
  display: flex;
}

/* justify content : center */
.justify-center {
  justify-content: center;
}

/* justify-content : space-between */
.justify-space-between {
  justify-content: space-between;
}

/* Align-items : Center */
.align-items {
  align-items: center;
}

/* flex-direction: column */
.column {
  flex-direction: column;
}

.small-logo > img {
  width: 6vw;
  margin: 2vh 0 0 2.5vh;
}

.settings > img {
  width: 4vw;
  margin: 2vh 2.5vh 0 0;
}

.content {
  width: 100vw;
  height: 70vh;
  justify-content: flex-end;
}

.box {
  text-align: center;
  width: 30vw;
  height: 70vh;
  background: rgba(10, 81, 87, 0.7);
  border-radius: 71px;
  color: white;
  padding: 2rem;
  gap: 10%;
  margin-right: 35vh;

}

.play {
  fill: #dadada;
  mix-blend-mode: luminosity;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  padding: 1.7vh 3vh;
  border-radius: 7px;
  border: none;
  color: black;
  font-weight: 700;
}

.box>div>input{
    width: 40vh;
    height: 6vh;
    border-radius: 8px;
    margin: 1vh;
    border: none;
    outline: none;
    background-color: rgba(245, 245, 245, 1);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* Applying Media queries to make the page responsive */
@media screen and (max-width: 430px) {
  .small-logo > img {
    width: 12vw;
    margin: 2vh 0 0 2.5vh;
  }

  .content {
    height: 80vh;
  }

  .box {
    width: 60vw;
    height: auto;
    padding: 1rem;
    margin: 5vh 5vw;
  }

  .box > div > input {
    width: 40vw;
    height: 5vh;
    margin: 0.8vh;
  }

  .play {
    padding: 1.4vh 2.5vh;
    font-size: 0.8rem;
  }
}
