@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: black;
}

.bg {
  position: absolute;
  z-index: -1;
  opacity: 50%;
}

.bg > img {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.align-items {
  align-items: center;
}

.column {
  flex-direction: column;
}

.small-logo > img {
  width: 6vw;
  margin: 2vh 0 0 2.5vh;
}

.settings > img {
  width: 4vw;
  margin: 2vh 2.5vh 0 0;
}

.captain{
  justify-content: center;
  align-items: flex-end;
}
.captain > img {
  height: 38vh;
}

.circles>div {
  border-radius: 50%;
  background: #d9d9d9;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 0 1rem 0 0;
  background-image: url('../assets/plain-black-background.png');
  border: none;


}

.c1{
    width: 5vh;
    height: 4.5vh;
}
.c2{
    width: 8vh;
    height: 7.5vh;
    margin: 0 010px 0;

}

.c3{
    width: 60vh;
    height: 58vh;
      /* border-radius: 10px; */
    margin: 0 5rem 0 0;
    padding: 3rem;

}

.c3>img{
    width: 60vh;
}
.circles > .c3> p {
  color: #12e9fb;
  text-align: center;
  display: flex ;
  align-items: end;
  font-family: Kaushan Script;
  font-size: 16px;
  font-weight: 400;
}

.circles{
    width: 80vw;
    height: 50vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end ;

}

.captain>img {
  /* width: 100px;
  height: 100px; */
  /* background-color: #3498db; */
  /* border-radius: 50%; Makes it a circle */
  animation: moveCaptain 2s linear ease-out;
} 

@keyframes moveCaptain {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(200px);
  }
  100% {
    transform: translateX(0);
  }
}

.captain{
  width: 70vw;
  height: 30vh;
}

@media screen and (max-width: 430px) {
  .small-logo > img {
    width: 12vw;
    margin: 2vh 2.5vh 0 0;
  }

  .settings > img {
    width: 10vw;
    margin: 2vh 2.5vh 0 0;
  }

  .main {
    flex-direction: column;
    align-items: center;
  }

  .circles {
    width: 90vw;
    height: auto;
  }

  .c1, .c2, .c3 {
    width: 80vw;
    margin: 2vh 0;
  }

  .c3 {
    padding: 1rem;
    text-align: center;
  }

  .captain {
    width: 80vw;
    height: auto;
  }

  .captain > img {
    animation: none; /* Remove animation on smaller screens */
  }
  .circles > .c3> p {
    color: #12e9fb;
    text-align: center;
    display: flex ;
    align-self: center;
    /* align-items: end; */
    font-family: Kaushan Script;
    font-size: 7px;
    font-weight: 400;
    width: 160px;
  }
}
