@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}


body{
    background-image: url(./assets/Start\ instruction\ background.png) ;
    background-repeat: no-repeat;
    background-size: cover;
}

.settings>img{
    width: 3.5vw;
    position: absolute;
    top: 2vh;
    right: 1.5vw;
}

.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.logo{
    height: 50vh;

}

.logo>img{
    filter: brightness(75%);
}

.buttons{
    gap: 50px;
}


.border-none{
    border: none;
}

.btn-bg{
    background-color: #edfbe7;
}

.bold{
    font-weight: bold;
}
.play{
    border-radius: 10px;
    width: 90px;
    height: 36px;
}

.instructions{
    border-radius: 10px;
    width: 150px;
    height: 36px;
}

.btn-green{
    color: #17875ecb;
}
.buttons>button>p{
    z-index: 1;
    font-size: 16px;
}

.buttons>button{
    box-shadow: 0 4px 4px rgba(0,0,0,0.30);
}

