@import url('https://fonts.googleapis.com/css2?family=Inter&family=Jolly+Lodger&family=Kavoon&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{
    background-color: black;
}

.bg{
    position: absolute;
    z-index: -1;
    opacity: 50%;
}

.bg>img{
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.navbar{
    display: flex;
    justify-content: space-between;
}

.small-logo>img{
    width: 6vw;
    margin: 2vh 0 0 2.5vh;
}

.settings>img{
    width: 4vw;
    margin: 2vh 2.5vh 0 0;
}


.chapters>p{
    position: relative;
    font-family: 'Kavoon', serif;
    color: #07F6F6;
    font-size: 50px;
    text-align: center;
    font-weight: 400;
    text-shadow: 10px 4px 10px rgba(0, 0, 0, 0.35);
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8vh;
}

.levels{
    display: flex;
    justify-content: center;
}

.levels>div{
    margin: 20px;
}

.levels>div>img{
    width: 20vw;
    height: 38vh;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 10px 4px 10px 5px rgba(0, 0, 0, 0.25);
}

.levels>div>p{
    text-align: center;
    color: white;
    font-family: 'Jolly Lodger';
    font-size: 2rem;
}
